.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0 auto;
    padding: 24px;
    max-width: 1128px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    width: 360px;
    height: 200px;
    overflow: hidden;
}

.gallery-link {
    display: block;
    text-decoration: none;

    width: 360px;
    height: 152px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;

}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galery-info-container {
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
    justify-content: space-evenly;
}

.galery-info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galery-info-title{
    font-weight: 700;
}